@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,700');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", sans-serif !important;
	font-weight: 900 !important;
}


.cta .cta-button {
	color: #5b3263;
	text-transform: uppercase;
	border: 2px solid #5b3263;
	border-radius: 50px;
	background: white;
}

.cta .cta-button:hover, .cta .cta-button:focus {
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15);
		background-color: #5b3263;
		color: white;
}

.portfolio-bg {
	background: white
}

.btn-outline-primary {
	color: #5b3263 !important;
	border-color: #5b3263 !important;
}

.btn-outline-primary:hover {
	color: #fff !important;
	border-color: #5b3263 !important;
	background: #5b3263 !important;
}