:root {
  --color-bg: #000000;
  --color-fg: #ffffff;
  --primary-color: #325d88;
  --secondary-color: #a1a1a1;
  --main-orange: orange;
  --main-yellow: #f9ca24;
}

body {
font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

button > a {
  text-decoration: none;
}

nav {
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.29);
-webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.29);
-moz-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.29);
}

a.active.nav-link {
  color: var(--primary-color) !important;
}

a.nav-link {
  color: var(--secondary-color) !important;
  font-size: 16px !important;
}

.nav-link::after:not(.mode-switcher) {
    content: '' !important;
    display: block !important;
    width: 0 !important;
    height: 2px !important;
    background: var(--primary-color) !important;
    transition: width .3s !important;
}

.nav-link:hover::after:not(.sun, .moon) {
    width: 100% !important;
}
.sun {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--secondary-color) 1px solid;
  border-radius: 50%;
  translate: 0.5s ease-in-out;
}

.sun:hover {
  border: var(--main-orange) 1px solid;
  border-radius: 50%;
}

.moon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--secondary-color) 1px solid;
  border-radius: 50%;
  translate: 0.5s ease-in-out;
}

.moon:hover {
  border: var(--main-yellow) 1px solid;
  border-radius: 50%;
}

main {
  height: 100vh;
}

.small-container {
  max-width: 800px;
  margin: 0 auto;
}

.profile-img {
  width: 180px;
  height: 180px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
}

.profile-img-dark {
  width: 180px;
  height: 180px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
 box-shadow: 0px -38px 134px -8px rgba(255,255,247,0.7);
-webkit-box-shadow: 0px -38px 134px -8px rgba(255,255,247,0.7);
-moz-box-shadow: 0px -38px 134px -8px rgba(255,255,247,0.7);
filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
}

h1.title {
  font-size: 58px;
  font-weight: 600;
  text-align: center;
  margin: 1rem 0;
}


.title span {
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
}

.desc {
  font-size: 24px;
  font-weight: 400;
}

.hire-me:hover {
  color: #ffffff;
}

button a {
  font-size: 19px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .moon:hover {
    border: none
  }
  .sun:hover {
    border: none
  }
  h1.title {
    font-size: 38px;
    font-weight: 500;
  }
  .title span {
    font-size: 50px;
  }

  .desc {
    font-size: 14px;
  }
}
