body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
}

nav {
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.29);
-webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.29);
-moz-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.29);
}

a.active.nav-link {
  color: #325d88 !important;
}

a.nav-link {
  color: #a1a1a1 !important;
}

.nav-link::after {
    content: '' !important;
    display: block !important;
    width: 0 !important;
    height: 2px !important;
    background: #325d88 !important;
    transition: width .3s !important;
}

.nav-link:hover::after {
    width: 100% !important;
}